




.item-list{
    display: grid;
    grid-gap: 1px;
    background-color: #fff;
    color: #444;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.item {
	background-color: rgba(255, 255, 255, 0.5);
	width: calc(100% - calc(1rem * 2));
	max-width: 600px;
	padding: 2.8rem;
	margin-bottom: 2.2rem;
	display: flex;
	flex-direction: column;
	border-radius: 1.7rem;
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
	transform: translateY(-1rem);
	backdrop-filter: blur(1.5rem);
    
	
}

.item:last-child {
	margin-bottom: 0.5rem;
}

.item h3 {
	font-size: 1.75rem;
	font-weight: bold;
	height: 2.8rem;
	margin-bottom: 0.5rem;
}

.item figure {
	width: 100%;
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 1.5rem;
}

.item figure img {
	height: 320px;
	display: block;
    
}

.description {
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.5);
	width: calc(100% - calc(2.8rem * 2));
	height: 320px;
	line-height: 1.75rem;
	padding: 2.5rem;
	position: absolute;
	top: calc(2.8rem + 3.3rem);
	left: 2.8rem;
	overflow: auto;
	opacity: 0;
	border-radius: 1.5rem;
	transition: opacity 200ms ease-out;
}



.item button {
	width: 100%;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0 -1px #362A89;
	background-color: #1779ba;
	padding: 1.4rem;
	border: solid 1px #362A89;
	outline: none;
	border-radius: 8px;
	transition: filter 500ms ease-out;
}

.item button:hover {
	filter: brightness(90%);
}

.item button:active {
	filter: brightness(80%);
}

.price {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.special {
	margin-bottom: 0.5rem;
}

select {
	padding: 0.8rem 1.2rem;
	border: solid 1px #efefef;
	margin-bottom: 1.2rem;
	outline: none;
	border-radius: 0.75rem;
	transition: box-shadow 200ms ease-out;
}

select:focus,
select:active {
	box-shadow: 0 0 0 0.25rem rgba(43, 153, 255, 0.5);
}

label {
	margin-bottom: 0.7rem;
}


